html{
    background-color: orange;
}
h1 {
    color: maroon;
}
body{
    text-align: center;
}
ul{
    list-style: none;
    
}
a{
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
}
.main_link{
    box-sizing: border-box;
    border: 2px solid maroon;
    border-radius: 100%;
    margin: 40px 200px;
    padding: 10px;
    height: 50px;
    background-color: maroon;
        
}
.home_navigation{
    height: 5px;
    width: 5px;
}