html{
    background-color: orange;
}
h1 {
    color: maroon;
}
body{
    text-align: center;
}
ul{
    list-style: none;
    
}
a{
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
}
.recipes ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 8px;
}
.main_link a{
   /** box-sizing: border-box;
    
    margin: 40px 200px;
   
    **/
    height: 50px;
    background-color: maroon;
    flex: auto;
    padding: 20px;
    border: 2px solid maroon;
    border-radius: 100%;
    
        
}
.home_navigation{
    background-color: maroon;
     margin: 0 1100px 0 20px;
     border: 2px solid black;
     border-radius: 100%;
     padding: 20px;

}
.logo{
    text-align: left;
    font-style: oblique;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.logo-image{
    display: block;
    margin: -40px 10px 10px 80px;
}
/*For rice recipes*/

.rice{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 300px;
    /*flex-wrap: wrap;*/
}
.jollof, .vegetablerice{
    border: 20px solid beige;
    width: 1000px;
    /*flex-shrink: 1;*/
    flex-wrap: wrap;
    padding: 20px;
}
